<header>
    <div class="logo">
        <h2>PMCore</h2>
    </div>
    <nav>
      <a href="/dashboard">Dashboard</a>
      <a href="/clientes">Clientes</a>
      <a href="/perfil">Meu Perfil</a>
      <a href="/logout" style="color: #ef4444; font-weight: bold;">Sair</a>
    </nav>
</header>