# Dependências
node_modules/

# Variáveis de Ambiente (SEGURANÇA!)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Sistema (Mac e Windows)
.DS_Store
Thumbs.db

# Pastas de IDEs
.vscode/
.idea/